@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

ul, h2 {
  margin: 0;
  padding: 0;
}

.search-bar {
  width          : 100%;
  height         : 72px;
  padding        : 0.8rem 1rem;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  border-bottom  : 1px solid #ccc;
  margin-bottom  : 3rem;
}
@media (max-width: 500px) {
  .search-bar {
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
}
.logo,
.icons {
  padding        : 0 0.8rem;
  display        : flex;
  width          : 200px;
  height         : 100%;
  justify-content: space-between;
  align-items    : center;
  height         : 50%;
}

@media (max-width: 500px) {
  .logo,
  .icons {
    width: 100%;
    padding: 0;
  }
  .icons {
    margin: 2rem auto;
  }
}

.logo li {
  text-align: center;
}

ul li {
  list-style: none;
}

.logo .logo-img i {
  font-size: 1.8rem;
}

.logo .sep div {
  height      : 2rem;
  border-right: 1px solid black;
  width       : 1px;
  background  : black;
}

.search-input {
  width           : 200px;
  outline         : none;
  border-radius   : 3px;
  text-align      : center;
  padding         : 0.5rem;
  border          : #ffffff;
  font-size       : 1.6rem;
  background-color: rgba(243, 243, 243, 0.383);
  border          : 1px solid #ccc;
}
@media (max-width: 500px) {
  .search-input {
    width: 100%;
    order: 1;
    margin-bottom: 2rem;
  }
}

.icons li i {
  font-size: 1.8rem;
}

.logo li h2 {
  font-size  : 3rem;
  font-family: 'Satisfy', cursive;
}
@media (max-width: 500px) {
  .icons li i,.logo .logo-img i {
    font-size: 3rem;
  }
}