.post-container {
  width: 450px;
}
@media (max-width: 500px) {
  .post-container{
    width: 90%;
  }
}
.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
}

.post .header {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 2rem;
}
.post .header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.post .header h3 {
  padding: 0.8rem;
  font-size: 1.6rem;
}
.post .post-image img {
  object-fit: cover;
}

.post .post-likes {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.post .post-likes ul {
  padding: 0;
  display: flex;
  width: 60px;
}
.post .post-likes ul li {
  list-style: none;
  margin: auto 0.8rem;
}
.post .post-likes ul li i {
  font-size: 1.8rem;
  color: black;
  font-weight: 100;
}
.post .post-likes p {
  padding-left: 0.8rem;
  font-size: 1.6rem;
  margin: 0;
}
.timestamp {
  font-size: 1.6rem;
  color: #ccc;
  padding-left: 0.8rem;
  padding-left: 1rem;
}

